<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ltv.karavn"
    android:versionCode="7"
    android:versionName="2.3" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/NoTitle" >
        <activity
            android:name="ltv.karavn.Main"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ltv.karavn.Search" />
        <activity android:name="ltv.karavn.List" />
        <activity android:name="ltv.karavn.Favorite" />
        <activity android:name="ltv.karavn.Contact" />
        <activity android:name="ltv.karavn.Info" />
        <activity android:name=".Detail" 
            android:screenOrientation="portrait" />
        <meta-data android:name="vn.vimarket.dev.key" android:value="acb415f647f8aa7d10aad8947d962d06"></meta-data>
    </application>

</manifest>